<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderQueue">
      <h2 data-cy="orderQueueDetailsHeading"><span jhiTranslate="debWorkstationApp.orderQueue.detail.title">Order Queue</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="debWorkstationApp.orderQueue.id">Id</span></dt>
        <dd>
          <span>{{ orderQueue.id }}</span>
        </dd>
        <dt><span jhiTranslate="debWorkstationApp.orderQueue.order">Order</span></dt>
        <dd>
          <span>{{ orderQueue.order }}</span>
        </dd>
        <dt><span jhiTranslate="debWorkstationApp.orderQueue.queue">Queue</span></dt>
        <dd>
          <div *ngIf="orderQueue.queue">
            <a [routerLink]="['/queue', orderQueue.queue.id, 'view']">{{ orderQueue.queue.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="debWorkstationApp.orderQueue.workerProfile">Worker Profile</span></dt>
        <dd>
          <div *ngIf="orderQueue.workerProfile">
            <a [routerLink]="['/worker-profile', orderQueue.workerProfile.id, 'view']">{{ orderQueue.workerProfile.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-queue', orderQueue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
