<div>
  <h2 id="page-heading" data-cy="WorkerHeading">
    <span jhiTranslate="debWorkstationApp.worker.home.title">Workers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="debWorkstationApp.worker.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-worker"
        [routerLink]="['/worker/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="debWorkstationApp.worker.home.createLabel"> Create a new Worker </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="workers?.length === 0">
    <span jhiTranslate="debWorkstationApp.worker.home.notFound">No Workers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="workers && workers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.worker.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.worker.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.worker.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.worker.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="waitingRoom.id">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.worker.waitingRoom">Waiting Room</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worker of workers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/worker', worker.id, 'view']">{{ worker.id }}</a>
          </td>
          <td>{{ worker.name }}</td>
          <td jhiTranslate="{{ 'debWorkstationApp.WorkerStatus.' + worker.status }}">{{ worker.status }}</td>
          <td>
            <div *ngIf="worker.company">
              <a [routerLink]="['/company', worker.company.id, 'view']">{{ worker.company.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="worker.waitingRoom">
              <a [routerLink]="['/waiting-room', worker.waitingRoom.id, 'view']">{{ worker.waitingRoom.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/worker', worker.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/worker', worker.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(worker)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workers && workers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
