<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-order-queue-heading"
        data-cy="OrderQueueCreateUpdateHeading"
        jhiTranslate="debWorkstationApp.orderQueue.home.createOrEditLabel"
      >
        Create or edit a Order Queue
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="debWorkstationApp.orderQueue.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="debWorkstationApp.orderQueue.order" for="field_order">Order</label>
          <input type="number" class="form-control" name="order" id="field_order" data-cy="order" formControlName="order" />
          <div *ngIf="editForm.get('order')!.invalid && (editForm.get('order')!.dirty || editForm.get('order')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('order')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('order')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="debWorkstationApp.orderQueue.queue" for="field_queue">Queue</label>
          <select class="form-control" id="field_queue" data-cy="queue" name="queue" formControlName="queue" [compareWith]="compareQueue">
            <option [ngValue]="null"></option>
            <option [ngValue]="queueOption" *ngFor="let queueOption of queuesSharedCollection">{{ queueOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="debWorkstationApp.orderQueue.workerProfile" for="field_workerProfile"
            >Worker Profile</label
          >
          <select
            class="form-control"
            id="field_workerProfile"
            data-cy="workerProfile"
            name="workerProfile"
            formControlName="workerProfile"
            [compareWith]="compareWorkerProfile"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="workerProfileOption" *ngFor="let workerProfileOption of workerProfilesSharedCollection">
              {{ workerProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
