<div>
  <h2 id="page-heading" data-cy="WorkerProfileHeading">
    <span jhiTranslate="debWorkstationApp.workerProfile.home.title">Worker Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="debWorkstationApp.workerProfile.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-worker-profile"
        [routerLink]="['/worker-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="debWorkstationApp.workerProfile.home.createLabel"> Create a new Worker Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="workerProfiles?.length === 0">
    <span jhiTranslate="debWorkstationApp.workerProfile.home.notFound">No Worker Profiles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="workerProfiles && workerProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.workerProfile.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.workerProfile.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.workerProfile.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="attencionChannel.id">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.workerProfile.attencionChannel">Attencion Channel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="debWorkstationApp.workerProfile.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workerProfile of workerProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/worker-profile', workerProfile.id, 'view']">{{ workerProfile.id }}</a>
          </td>
          <td>{{ workerProfile.name }}</td>
          <td jhiTranslate="{{ 'debWorkstationApp.WorkerProfileStatus.' + workerProfile.status }}">{{ workerProfile.status }}</td>
          <td>
            <div *ngIf="workerProfile.attencionChannel">
              <a [routerLink]="['/worker-profile-attencion-channel', workerProfile.attencionChannel.id, 'view']">{{
                workerProfile.attencionChannel.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="workerProfile.company">
              <a [routerLink]="['/company', workerProfile.company.id, 'view']">{{ workerProfile.company.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/worker-profile', workerProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/worker-profile', workerProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workerProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workerProfiles && workerProfiles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
