<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="workerProfileAttencionChannel">
      <h2 data-cy="workerProfileAttencionChannelDetailsHeading">
        <span jhiTranslate="debWorkstationApp.workerProfileAttencionChannel.detail.title">Worker Profile Attencion Channel</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="debWorkstationApp.workerProfileAttencionChannel.id">Id</span></dt>
        <dd>
          <span>{{ workerProfileAttencionChannel.id }}</span>
        </dd>
        <dt><span jhiTranslate="debWorkstationApp.workerProfileAttencionChannel.name">Name</span></dt>
        <dd>
          <span>{{ workerProfileAttencionChannel.name }}</span>
        </dd>
        <dt><span jhiTranslate="debWorkstationApp.workerProfileAttencionChannel.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'debWorkstationApp.WorkerProfileAttencionChannelType.' + workerProfileAttencionChannel.type }}">{{
            workerProfileAttencionChannel.type
          }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/worker-profile-attencion-channel', workerProfileAttencionChannel.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
